<header class="header">
    <a href="/" class="logo">Mapa Interativo</a>
    <nav class="nav">
    <button
        class="btn-menu"
        aria-label="Abrir Menu"
        aria-haspopup="true"
        aria-controls="menu"
        aria-expanded="false"
    >
        Menu<span class="hamburger"></span>
    </button>
    <ul class="menu" id="menu" role="menu">
        <li><a href="/">Início</a></li>
        <li><a href="/">Sobre</a></li>
        <li><a href="/">Contato</a></li>
        <li><a href="/">Login</a></li>
    </ul>
    </nav>
</header>