<div class="salvos">
    <a href="#">
        <div class="card">
            <div class="endereco-card">
                <h1 id="txt_card_instituicao">Nome da Instituição</h1>
                <p id="txt_card_endereco">Endereço: Rua ficticia numer não sei </p>
                <p id="txt_card_tipo_de_servico">Tipo de serviço: Não sei</p>
            </div>
        </div>
    </a>
    <div class="btn_card">
        <button class="status">Ativo</button>
        <button class="Editar">Editar</button>
    </div>
</div>