<div class="f_itens">
    <form class="filtro">
    <input type="text" class="pesquisa" id="pesquisa" placeholder="Pesquise por nome da instituição:">
    <select name="tipo-instituicao" id="">
        <option value="Trabalho">Trabalho</option>
        <option value="Encino">Ensino</option>
        <option value="Doaçoes">Doaçoes</option>
    </select>
    </form>
    <div class="cards" id="cards">
    </div>
</div>