<div class="main">
    <div id="map">
        <div id="base_cima">
            <div class="botao-pequisa">
                <div class="btn-menu" id="btn-menu">
                    <button class="myButton-m" id="menu-b"onclick="botao_menu(), myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </button>
                </div>
                <div class="caixa-pesquisa">
                    <input type="text" placeholder="Pesquisar..." />
                    <buton >🔍</buton>
                </div>
            </div>
            <div class="caixa-de-filtros">
                <button class="myButton" onclick="filtrarLocais('Serviços Sociais')"><img src="/img/servico.png"
                        alt="Ico Estudo" class="img-filtro"> Serviços Sociais</button>
                <button class="myButton" onclick="filtrarLocais('Estudos')"><img src="/img/lendo.png" alt="Ico Estudo"
                        class="img-filtro"> Estudos</button>
                <button class="myButton" onclick="filtrarLocais('Trabalho')"><img src="/img/servico.png"
                        alt="Ico Trabalho" class="img-filtro"> Trabalho</button>
                <button class="myButton" onclick="filtrarLocais('Segurança')"><img src="/img/doacao.png"
                        alt="Ico Doação" class="img-filtro"> Segurança</button>
                <button class="myButton" onclick="filtrarLocais('todos')"><class="img-filtro"> Todos</button>
            </div>
        </div>
        <div id="modalDetalhes" class="modal" style="display: none;">

        </div>
        <div class="aba-menu" id="aba-menu">

            <div id="perfio" style="display: none;" class="parte">
                <h1 class="titulo-menu">Meu Perfil</h1>
                <div class="info" id="caixa-info-perfil"></div>
            </div>

            <div id="locais" style="display: none;" class="parte">
                <h1 class="titulo-menu">Meus Locais</h1>
                <div class="info" id="caixa-info-local"></div>
            </div>

            <div id="hitorico" style="display: none;" class="parte">
                <h1 class="titulo-menu">Historico</h1>
                <div class="info" id="caixa-info-historico"></div>
            </div>

            {{!-- <h1 id="perfio" class="titulo-menu" style="display: none;">Meu Perfio</h1>
            <h1 id="hitorico" class="titulo-menu" style="display: none;">Historico</h1>
            <h1 id="locais" class="titulo-menu" style="display: none;">Meus Locais</h1>
            <div class="info" id="caixa-info-local">
                <div class="caixa-info-local">
                    {{!-- cardi do menu para adicionar locais salvos e historico --}}
                </div>
            </div> --}}
        </div>
        <div class="menu-container" id="menu-container">
            <button class="myButton-m" onclick="btn_click(this,'perfio')"><img src="/img/perfil.png" alt="Ico Perfio"
                    class="img-mnu"></button>
            <button class="myButton-m" onclick="btn_click(this,'hitorico')"><img src="/img/historia.png"
                    alt="Ico Historico" class="img-mnu"></button>
            <button class="myButton-m" onclick="btn_click(this,'locais')"><img src="/img/salvar.png" alt="Ico Locais"
                    class="img-mnu"></button>
        </div>
    </div>
</div>